/* This class is for the HTML links to prompt the pop up */
.link {

}

/* this is the id for login button */
#login {

}

/* ID for the human image */
#profile_img_human {

}

/* ID for the dog image */
#profile_img_dog {

}

/* ID for the map container */
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

/* class for the images for nearby people */
.nearbypeople {
    
}

/* Profile cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-size: small;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }