<h1>Date By Zip</h1>
 <header>
        <!-- Navigation bar -->
        <div class="top-bar">
            <div class="top-bar-left">
                <!-- Style setting from foundation -->
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text" style="font-family: 'Times New Roman', Times, serif; font-size: large;">What would you like to do?</li>
                    <!-- clickable HTML links for the other pages  -->
                    <li><a href="puppyplaydate.handlebars" class="link" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: black;" >Set up a Puppy Play Date!</a></li>
                    <li><a href="browseplaydates.handlebars" class="link" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: black;" > Browse the play dates for today!</a></li>
                    <li><a href="nexttwodays.handlebars" class="link" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: black;" >Look at the next two days play dates!</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- To add some white spacing -->
    <br>
    <!-- To add some white spacing -->
    <!-- Input for zip code -->
    <div class="input-group">
        <form action="/action_page.php">
            <label for="fname">Enter Zip Code</label><br>
            <input onclick="document.getElementById('nexttwozip').value = ''" type="text" id="nexttwozip" name="fname"
            value="Zip Code">
            <br>
        <!-- STOPPED HERE -->
        <label for="lname">What time?</label>
        <br>
        <select class="form-select" aria-label="Default select example">
            <option selected>Select a Time</option>
            <option class="Morning" value="Morning">Morning</option>
            <option class="Afternoon" value="Afternoon">Afternoon</option>
            <option class="Evening" value="Evening">Evening</option>
          </select>
            <br>
            <br>
            <!-- this is the button to submit the login -->
          <button type="button" class="btn btn-primary">Submit</button>
               <!-- this is the button to clear the login screen -->
          <button type="button" class="btn btn-secondary">Clear</button>
         <!-- go back to homepage -->
         <button type="button" class="btn btn-light"> <a href="index.html" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: black;" >Return to homepage</a></button>
          </form> 
    </div>