<form>
  <div class="form-row">
    <div>Plaese enter dog Details!</div> </br>
    <div class="d-none listed font-color-red">Dog Profile Created!</div> 
    <div class="d-none wrong font-color-red">Something went wrong, please try again later!</div> 
    <button class="btn button btn-danger btn-small d-none create-dog mt-3" data-id={{user_id}}>Add more Dogs</button>
    <div class="col-7">
      <input type="text" class="form-control dog-name" placeholder="Dog Name">
    </div> 
    <div class="col-7">
      <input type="text" class="form-control dog-breed" placeholder="Breed">
    </div>
    <div class="col-7">
      <input type="text" class="form-control dog-age" placeholder="Age">
    </div>
  <div class="col-7">
    <input type="text" class="form-control dog-gender" placeholder="Sex">
    </div>
    <div class="col-7">
      <input type="text" class="form-control dog-image" placeholder="Copy paste a link of profile image from social media/cloud">
    </div>
  </div>
  </br>
  <button class="btn button btn-danger btn-small dog-profile-submit" data-id={{user_id}}>Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src=/js/dogadd.js></script>