{{!-- <!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- name that appears in tab -->
    <title>NEED A NAME</title>
    <!-- link to foundation -->
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <!-- link to bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Putting in fontawesome for the contact cards -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Link for our CSS sheet -->
    <link href="stylesheet.css">

</head>


<body> --}}
<header>
    <!-- Navigation bar -->
    <div class="top-bar" style="width: 58%">
        <div class="top-bar-left">
            <!-- Style setting from foundation -->
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text" style="font-family: 'Times New Roman', Times, serif; font-size: large;">What would
                    you like to do?</li>
                <!-- clickable HTML links for the other pages  -->
                {{!-- <li><a href="puppyplaydate.handlebars" class="link" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: black;" >Set up a Puppy Play Date!</a></li>
                    <li><a href="browseplaydates.handlebars" class="link" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: black;" > Browse the play dates for today!</a></li>
                    <li><a href="nexttwodays.handlebars" class="link" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: black;" >Look at the next two days play dates!</a></li> --}}
                <button class="btn button btn-danger dates-listed mb-3"><a class="text-white"
                        style="text-decoration: none;" href='/api/puppydates/search/list'>Browse Open Dates</a></button>
                <button class="btn button btn-danger browse-dates mb-3"><a class="text-white"
                        style="text-decoration: none;" href='/api/puppydates/search/today'>Dates Today</a></button>
                <button class="btn button btn-danger browse-dates mb-3"><a class="text-white"
                        style="text-decoration: none;" href='/api/puppydates/search/nexttwodays'>Dates in 2
                        days</a></button>


                <div class="mt-3 input-group">
                    <form class="row g-3">
                        <div class="col">
                            <input type="text" class="form-control inputZip mr-0 pr-0" placeholder="Zip Search"
                                id="userInput">
                        </div>
                        <!-- Submit button -->
                        <div class="col ml-0 pl-0">
                            <button class="btn button btn-small no-borders btn-outline-secondary bg-danger text-white"
                                type="button" id="submitBtn"><i class="fas fa-search"></i></button>
                            <!-- clear button -->
                            {{!-- <button onclick="document.getElementById('userInput').value = ''" class="btn button btn-small btn-outline-secondary"
            type="button" id="clearBtn">Clear</button></input> --}}
                        </div>
                    </form>
                </div>

            </ul>
        </div>
    </div>
</header>
<!-- To add some white spacing -->
<br>
<!-- To add some white spacing -->
<!-- Input for zip code -->
<!-- Removing these, just doesnt look good.  -->
<!-- User images, dog images, and container for map -->
<!-- <div class="medium-2 columns">
        <p><img src="https://placehold.it/200x200&text=Other cool article" alt="article promo image"
                alt="advertisement for deep fried Twinkies" id="profile_img_human"></p>
        <p><img src="https://placehold.it/200x200&text=Other cool article" alt="article promo image"
                id="profile_img_dog"></p>
    </div> -->
<!-- Location for the map -->
<div class="row">
    {{!-- <div class="medium-6 columns"> --}}
    <div class="col-md-5">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="750" height="500" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=30094&t=&z=13&ie=UTF8&iwloc=&output=embed">
                </iframe>
                <a href="https://yggtorrent-fr.com"></a>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <img src="https://www.telegraph.co.uk/content/dam/news/2016/06/20/101179724_stoned-dogs-NEWS_trans_NvBQzQNjv4BqD3d2dmOlWYuQkR76XZjLQKOylOV7i1cNNz18XOj47vE.jpg?imwidth=450"
            alt="Home Page Image">
        <img class="mt-5"
            src="https://d14zyouj9r0hpo.cloudfront.net/wp-content/uploads/2020/12/Top-10-Dog-Parks-Southeast-Michigan.jpg"
            alt="Home Page Image">
    </div>
</div>
<!-- HR makes the line  -->
<hr>
<!-- HR makes the line  -->
{{!-- <div class="row column">
    <h4 style="margin: 0;" class="text-center" style="font-family: 'Times New Roman', Times, serif;"> Who is nearby?
    </h4>
</div> --}}
<!-- HR makes the line  -->
{{!-- <hr> --}}
<!-- HR makes the line  -->
<!-- Image boxes for those who are checked in nearby -->
{{!-- <div class="row small-up-3 medium-up-4 large-up-5">

    <div class="column">
        <div class="card">
            <p>Tori and Sailus</p>
            <img src="../testimages/smaller.jpg" alt="Tori Sanford" style="width:50%">
            <img src="../testimages/IMG_0354 - Copy.jpg" alt="Sailus Sanford, Dog" style="width:50%">
        </div>
    </div>

    <div class="column">
        <img src="https://placehold.it/400x370&text=Look at me!" alt="image for person" class="nearbypeople">
    </div>

    <div class="column">
        <img src="https://placehold.it/400x370&text=Look at me!" alt="image for person" class="nearbypeople">
    </div>

    <div class="column">
        <img src="https://placehold.it/400x370&text=Look at me!" alt="image for person" class="nearbypeople">
    </div>

    <div class="column">
        <img src="https://placehold.it/400x370&text=Look at me!" alt="image for person" class="nearbypeople">
    </div>

</div> --}}
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
    $(document).foundation();
</script>
<script src="/js/index.js"></script>
{{!-- </body>

</html> --}}