<form>
  <div class="form-row">
    <div>Plaese enter your Details!</div> </br>
    <div class="d-none listed font-color-red">Profile Details Created!</div> 
    <div class="d-none wrong font-color-red">Something went wrong, please try again later!</div> 
    <button class="btn button btn-danger btn-small d-none create-dog mt-3" data-id={{user_id}}>Add your Dogs</button>
    <div class="col-7">
      <input type="text" class="form-control your-name" placeholder="Your Name">
    </div> 
    <div class="col-7">
      <input type="text" class="form-control your-age" placeholder="Age">
    </div>
    <div class="col-7">
      <input type="text" class="form-control your-city" placeholder="City">
    </div>
    <div class="col-7">
      <input type="text" class="form-control your-state" placeholder="State">
    </div>
    <div class="col-7">
      <input type="text" class="form-control your-zip" placeholder="Zip">
    </div>
  </div>  
  <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control your-dob" placeholder="DOB in MM/DD/YYYY">
    </div>
    <div class="col-7">
      <input type="text" class="form-control your-gender" placeholder="Sex">
    </div>
    <div class="col-7">
      <input type="text" class="form-control your-image" placeholder="Copy paste a link of profile image from social media/cloud">
    </div>
  </div>
  </br>
  <button class="btn button btn-danger btn-small profile-submit" data-id={{user_id}}>Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src=/js/profileupdate.js></script>